.top_l {
    height: 520px;
    width: 32%;
    background-color: #bbd4ed;
    float: left;
}

.top_r {
    height: 520px;
    width: 68%;
    background-color: #ade4f6;
    float: left;
}

.center {
    height: 150px;
    width: 100%;
    background-color: #347ecb;
    float: left;
}

.bottom {
    height: 150px;
    width: 100%;
    background-color: #faf3b4;
    float: left;
}

.text {
    font-family: Arial;
    font-size: 28px;
    font-weight: bold;
    color: #000000;
    position: relative;
    top: 43%;
    left: 48%;
}
.space {
    height:200px;
    width: 100%;
    background-color: #ffffff;
    float: left;
}

.container_flex {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.top_l_flex {
    display: flex;
    height: 520px;
    width: 32%;
    background-color: #bbd4ed;
    justify-content: center;
    align-items: center;
}

.top_r_flex {
    display: flex;
    height: 520px;
    width: 68%;
    background-color: #ade4f6;
    justify-content: center;
    align-items: center;
}

.center_flex {
    display: flex;
    height: 150px;
    width: 100%;
    background-color: #347ecb;
    justify-content: center;
    align-items: center;
}

.bottom_flex {
    display: flex;
    height: 150px;
    width: 100%;
    background-color: #faf3b4;
    justify-content: center;
    align-items: center;
}

.text_flex {
    font-family: Arial;
    font-size: 28px;
    font-weight: bold;
    color: #000000;
}